configuration (  
        master_exec_path = "/tools/synopsys/icv/W-2024.09-SP3-1/bin/LINUX.64/icv_manager",
        slave_exec_path = "/tools/synopsys/icv/W-2024.09-SP3-1/bin/LINUX.64/icv_worker",
        engine_exec_path = "/tools/synopsys/icv/W-2024.09-SP3-1/bin/LINUX.64/icv_engine",
        working_directory = "/project/tsmc28mmwave/users/foqara/ws/riscv/signoff_fill_run/icv_run_1",
        run_details_directory = "/project/tsmc28mmwave/users/foqara/ws/riscv/signoff_fill_run/icv_run_1/run_details",
        group_directory = "/project/tsmc28mmwave/users/foqara/ws/riscv/signoff_fill_run/icv_run_1/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { micron9.eng.tau.ac.il, ""},
                 { micron9.eng.tau.ac.il, ""},
                 }
);
